@page
@model WavePlatform.Views.Books.DetailsModel

<h1>Book Details</h1>

<div>
    <h4>Title: @Model.FirstBook.Title</h4>
    <h4>Author: @Model.FirstBook.Author</h4>
    <p>@Model.FirstBook.Description</p>
    @if (Model.FirstBook.CoverImage != null)
    {
        <img src="data:image/jpeg;base64,@Convert.ToBase64String(Model.FirstBook.CoverImage)" />
    }
</div>

<div>
    <form asp-action="AddToLibrary" method="post">
        <input type="hidden" name="bookId" value="@Model.FirstBook.BookId" />
        <button type="submit">Add to Library</button>
    </form>
</div>